@import "/UI/Styles/Design.scss";

DesignRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .left {
        left: 0;
        width: 20%;
    }

    .right {
        right: 0;
        width: 20%;
    }

    part-browser {
        position: absolute;
        height: 100%;
    }

    .editor-panel {
        position: absolute;
        height: 60%;
    }

    .part-operate {
        position: absolute;
        bottom: 0;
        height: 20%;
    }

    .drive-mode {
        position: absolute;
        bottom: 20px;
        left:50%;
        transform:translateX(-50%);
    }
}
