SaveBrowser {
    height:100%;
    width:100%;
    pointer-events: all;
    background-color: rgb(255, 255, 255, 0.10);
    display: flex;
    flex-direction: column;
    padding: 4px;

    .mode-select {
        display: flex;
        flex-direction: row;
        gap: 12px;

        .design-mode {
            flex: 1;
            color: black;
            background-color: white;
            font-size: 40px;
            font-weight: bold;
            border: solid 2px black;
            justify-content: center;
            align-items: center;
            padding: 8px 0px;
        }

        .design-mode:hover {
            background-color: gray;
        }
    }

    .save-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }
}
